apiVersion: apps/v1
kind: Deployment
metadata:
  name: blue-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: myapp
      version: blue
  template:
    metadata:
      labels:
        app: myapp
        version: blue
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80
        volumeMounts:
        - name: blue-html
          mountPath: /usr/share/nginx/html
      volumes:
      - name: blue-html
        configMap:
          name: blue-html
